body{
    background-color: #ffb273;
    font-family: didot;
}

.header{
    background-color: #E51E25;
    color: bisque;
    padding: 50px;
    text-align:center;
    height: 150px;
    display: block;
}

.header h1{
    font-size: 40px;
    margin: 70;
}

html, body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: bisque;
    display: flex;
    justify-content: flex-start;
    gap:5px;
}

.container div{
    color:#E51E25;
    width: 66px;
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

.container div:hover{
    background-color: #ffb273;
}

.container-produtos{
   display: flex;
   flex-direction: row;
}

.text{
    background-color: #558b2f;
    color: rgb(245, 245, 245);
    width: 210px;
    padding: 10px;
    height: 1000px;
    flex-direction: row;
    text-align: left;
}

.center{
    background-color: #f7e28f;
    width: 1000px;
    text-align: left;
    padding: 20px;
}

.lado{
    background-color:#FF6600;
    color:white;
    width:200px;
    padding: 20px;
}

.lado h2{
    color:bisque;
    text-align: center;
}

.footer{
    background-color: bisque;
    color:#E51E25;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

@media screen and (max-width:780px) {
    .container{
        flex-direction: column;
    }

    .container div{
        width: 100%;
        box-sizing: border-box;
    }
    .container-produtos{
        flex-direction: column;
    }
    .text, .center, .lado{
        width: 100%;
        height: auto;
    }
}